{% extends "base.html" %}
{% block title  %}Home{% endblock %}
{% block content %}
    <h1>Research Article Summary Tool</h1>
        <form method="POST" action="selection" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleFormControlFile1">Upload Research Article:</label>
            <input type="file" class="form-control-file" name="file" required>
          </div>
          <input type="submit" class="btn btn-primary" value="Upload">
        </form>
{% endblock %}